includes:
parameters:
    ignoreErrors:
        -
            messages:
                - '#Unsafe usage of new static#'
            paths:
                - src/*/Domain/*.php
    inferPrivatePropertyTypeFromConstructor: true
    checkGenericClassInNonGenericObjectType: false
    excludePaths:
        - ./vendor
        - ./ecs.php
    paths:
        - ./src
        - ./tests
